# Konfigurasi Database Neon PostgreSQL
# Dapatkan dari: https://console.neon.tech -> Connection Details
DATABASE_URL=postgresql://neondb_owner:PASSWORD_NEON_ANDA@ep-polished-flower-b3ezuctx-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Kunci Rahasia Sesi (Ganti dengan string acak untuk produksi)
SESSION_SECRET=muspimnas-super-secret-key-2026

# Port Server Lokal
PORT=3000
